body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
h1 {
  font-size: 50px;
}
p {
  color: dimgray;
}
.orange-highlight {
  color: orange;
}
.half-part {
  width: 40%;
  float: left;
  margin-left: 5%;
  padding: 2%;
}
.half-part img {
  width: 100%;
}
.top-banner {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}
section {
  height: 500px;
  padding-bottom: 120px;
}
.link-button {
  text-decoration: none;
  padding: 10px 40px;
  background-image: linear-gradient(45deg, orange, red);
  color: white;
  border-radius: 5px;
  font-size: 700;
}
.Dream-big {
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.single-experience {
  box-shadow: 10px 30px 40px gray;
  height: 60%;
  border-radius: 5px;
  background-color: white;
}
.Experiences {
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}
#top {
  text-align: center;
  margin-bottom: 60px;
}
#full-stack {
  border-left: 7px solid;
  border-image: linear-gradient(180deg, orange, red);
  border-image-slice: 1;
}
#baby-web {
  border-left: 7px solid;
  border-image: linear-gradient(180deg, blue, cyan);
  border-image-slice: 1;
}
footer p {
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
}
